<div id="citiesDiv" class="bg-white ml-2 rounded-md w-11/12 h-full">
  <div id="inputDiv" class="flex justify-around pt-6">
    <span class="p-float-label">
  <p-autoComplete (onSelect)="onAddMarkerStartClick()" [(ngModel)]="selectedCityStart" [suggestions]="suggestions"
                  (completeMethod)="getCountries($event)" optionLabel="properties.label"></p-autoComplete>
    <label class="text-black">Ville de départ</label>
  </span>

    <span class="p-float-label">
  <p-autoComplete (onSelect)="onAddMarkerEndClick()" [(ngModel)]="selectedCityEnd" [suggestions]="suggestions"
                  (completeMethod)="getCountries($event)" optionLabel="properties.label"></p-autoComplete>
    <label class="text-black">Ville d'arrivée</label>
  </span>
  </div>
  <div class="flex pt-2">
    <p-button label="Calculer l'itinéraire" [loading]="loading" (onClick)="calculate()"></p-button>
    <p></p>
  </div>

</div>


